@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: rgb(203, 123, 19);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu {
  width: 100%;
}

.ant-layout-content > div {
  min-height: calc(100vh - 130px);
}

.ant-layout-header {
  line-height: normal;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.header-menu {
  background-color: rgb(203, 123, 19);
}

.header-menu .ant-menu {
  background-color: rgb(203, 123, 19);
  margin-left: 50px;
}

.header-menu .ant-menu .ant-menu-item-selected {
  background-color: rgb(203, 123, 19);
}

.header-menu .ant-menu .ant-menu-item-selected:hover {
  background-color: rgb(203, 123, 19);
}

.button-orange {
  background-color: var(
    --orange
  ); /* Assuming you define the CSS variable '--orange' elsewhere */
  border: 1px solid;
  border-color: var(
    --orange
  ); /* Assuming you define the CSS variable '--orange' elsewhere */
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
}

.button-orange:hover,
.button-orange:focus-within {
  background-color: white;
  color: var(
    --orange
  ); /* Assuming you define the CSS variable '--orange' elsewhere */
  border-color: var(
    --orange
  ); /* Assuming you define the CSS variable '--orange' elsewhere */
}

.ant-btn-primary {
  background-color: #1677ff;
}
